@using Sandbox;
@using Sandbox.UI;
@namespace Garryware.UI.GameMenu
@attribute [StyleSheet("GarrywareFrontPage.razor.scss")]

<root style="flex-direction: column;">

    <div class="game-title">
    </div>
    
    <span style="margin-bottom: auto"></span>
    
    <div class="control-cards">
        <MenuCard Disabled="@true" onclick="@CreateShortGame">
            <Icon><svg class="icon" Src="ui/spedometer-low.svg" Color=@Color.White.Hex></svg></Icon>
            <Title>Short</Title>
            <Desc1>Coming Soon</Desc1>
            <Desc2></Desc2>
        </MenuCard>
        <MenuCard onclick="@CreateMediumGame">
            <Icon><svg class="icon" Src="ui/spedometer-middle.svg" Color=@Color.White.Hex></svg></Icon>
            <Title>Medium</Title>
            <Desc1>40 rounds</Desc1>
            <Desc2>~10 minutes</Desc2>
        </MenuCard>
        <MenuCard Disabled="@true" onclick="@CreateLongGame">
            <Icon><svg class="icon" Src="ui/spedometer-max.svg" Color=@Color.White.Hex></svg></Icon>
            <Title>Long</Title>
            <Desc1>Coming Soon</Desc1>
            <Desc2></Desc2>
        </MenuCard>
        <MenuCard Disabled="@true" onclick="@CreateVeryLongGame">
            <Icon><svg class="icon" Src="ui/bottle.svg" Color=@Color.White.Hex></svg></Icon>
            <Title>Marathon</Title>
            <Desc1>Coming Soon</Desc1>
            <Desc2></Desc2>
        </MenuCard>
    </div>

    <span style="height: 20px"></span>
    <div class="controls">
        <a class="button" @onclick="@Back">Back</a>
    </div>
    
</root>

@code
{
    private void CreateShortGame()
    {
        // CreateNewGame(20, "Short");
    }
    
    private void CreateMediumGame()
    {
        CreateNewGame(40, "Normal");
    }
    
    private void CreateLongGame()
    {
        // CreateNewGame(60, "Long");
    }
    
    private void CreateVeryLongGame()
    {
        // CreateNewGame(100, "Marathon");
    }

    private void CreateNewGame(int numRounds, string serverNameSuffix)
    {
        var options = new Sandbox.Modals.GameCreateModalOptions();
        options.Cookie = $"{Game.Menu.Package.FullIdent}.serverconfig";

        options.ModalTitle = "Create Game";
        options.MapFilter = "type:map sort:trending";
        options.Default.Map = "dhi.garryware_lifelime";
        options.Default.GameTitle = $"{Game.Menu.Package.Title} Server - {serverNameSuffix}";
        options.MapSelection = false;

        options.OnStartGame = (setup) =>
        {
            Game.Menu.StartServerAsync(setup.MaxPlayers, setup.GameTitle, setup.Map);
        };

        Game.Overlay.ShowCreateGame(options);
    }
    
    private void Back()
    {
        this.Navigate("/");
    }
    
}
